// ---------------------------------------------
// ======---------------------------------======
//  Movie stats
// ======---------------------------------======
// ---------------------------------------------
.stats-section {
	margin-block-end: var(--space-xl);

	h2 {
		color: var(--clr-secondary);
	}
}

.stats-grid {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-xl);

	> div {
		min-width: 15rem;
		// flex-grow: 1;
	}

	li {
		strong {
			color: var(--clr-white);
		}

		&::marker {
			color: var(--clr-secondary);
			font-weight: 700;
		}
	}
}
