/* ---------------------------------------------
// ======---------------------------------======
// App styles
// ======---------------------------------======
// ------------------------------------------ */

/* Globals */
@import './global/variables.pcss';
@import './global/reset.pcss';
@import './global/base.pcss';
@import './global/type.pcss';

/* Components */
@import './components/movie-card.pcss';
