/* ------------------------------------------
======---------------------------------======
	Header
======---------------------------------======
------------------------------------------ */

#site-header {
	--cp-angle: 5%;
	--clip-path: polygon(
		0 var(--cp-angle),
		calc(var(--cp-angle) / 2) 0%,
		calc(100% - (var(--cp-angle)) / 2) 0,
		100% var(--cp-angle),
		calc(100% - var(--cp-angle)) calc(100% - (var(--cp-angle)) / 1),
		calc(100% - (var(--cp-angle) * 1.5)) 100%,
		calc((var(--cp-angle) * 1.5)) 100%,
		var(--cp-angle) calc(100% - (var(--cp-angle)) / 1)
	);

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: var(--space-xs) var(--space-xl);

	position: relative;

	margin-inline: var(--wrapper-main);
	padding: var(--space-xl) var(--space-2xl);

	background: var(--clr-dark);

	color: var(--clr-primary);

	> * {
		position: relative;
		z-index: 10;
	}

	&::before {
		content: '';

		position: absolute;
		inset: calc(var(--space-m) + 0.5rem);
		z-index: 2;

		background-color: #060142;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23060142'/%3E%3Cstop offset='1' stop-color='%23640027'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='8' height='8' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='4' cy='4' r='4'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.03'/%3E%3C/svg%3E");
		background-attachment: fixed;
		clip-path: var(--clip-path);
	}

	&::after {
		content: '';

		position: absolute;
		inset: var(--space-s);
		z-index: 1;

		background-color: var(--clr-primary);
		clip-path: var(--clip-path);
	}
}

.sh-logo {
	--logo-transition: all 0.2s ease-in-out;

	color: var(--clr-primary);
	font-size: clamp(2.25rem, 2.068rem + 0.78vw, 3rem);
	font-family: var(--ff-primary);
	font-weight: 700;
	line-height: 1;
	text-decoration: none;
	text-align: center;

	transition: var(--logo-transition);

	> span:first-child {
		display: block;

		transform: scale(1);

		transition: var(--logo-transition);
	}

	> span:nth-child(2) {
		display: block;
		color: color-mix(in oklch, var(--clr-white) 25%, var(--clr-primary));
		font-size: 200%;
		font-family: var(--ff-display);
		font-weight: 400;
		letter-spacing: 0.05em;

		transition: var(--logo-transition);
	}

	&:hover,
	&:focus {
		> span:nth-child(1) {
			transform: scale(0.8);
		}

		> span:nth-child(2) {
			color: var(--clr-primary);
		}
	}
}

.sh-nav {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-xs);

	font-weight: 700;

	a,
	a:visited,
	button {
		padding: 0;

		background: none;
		border: 0;

		color: var(--clr-white);
		font-size: var(--step-1);
		font-weight: 400;

		text-decoration: underline;
		text-decoration-color: var(--clr-primary-l);
		text-decoration-thickness: 0.2em;

		&:hover,
		&:focus {
			color: var(--clr-primary);
		}
	}
}
