/* ------------------------------------------
======---------------------------------======
	Type
======---------------------------------======
------------------------------------------ */

strong,
b {
	font-weight: 700;
}

button {
	cursor: pointer;
}

.btn {
	--btn-color: var(--clr-primary);

	padding: 0 var(--space-2xs);

	border: 2px solid var(--btn-color);
	background: var(--btn-color);
	border-radius: 0.5rem;

	color: var(--clr-white);

	&-secondary {
		--btn-color: var(--clr-secondary);
	}

	+ .btn {
		margin-inline-start: var(--space-2xs);
	}
}

// ====---------------====
// Title
// ====---------------====
table {
	--border-color: color-mix(in oklch, var(--clr-dark) 70%, var(--clr-white));
	border-collapse: collapse;

	text-align: left;

	th,
	td {
		padding-inline-end: var(--space-s);

		line-height: 1;

		+ td,
		+ th {
			padding-inline-start: var(--space-s);
			border-inline-start: 1px solid var(--border-color);
		}
	}

	thead {
		th {
			padding-block-end: var(--space-3xs);
			border-block-end: 1px solid var(--border-color);
		}
	}

	tbody {
		td {
			padding-block-start: var(--space-3xs);
		}
	}
}
